<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="fragments/header"></head>

</head>

<body>
	<div layout:fragment="content" th:remove="tag">

		<div id="crudLinks">

			<h1 class="h3 mb-3 font-weight-normal">
				<i class="oi oi-warning"></i> <span th:text="${status}"></span>
			</h1>

			<h2 th:text="#{${error}}"></h2>

			<hr/>

			<div>
				<span th:text="#{${message}}"></span>
				<br/>
				<br/> 
				<a class="btn btn-primary" type="button" href="javascript:history.back()">
					<span th:text="#{previous.message}"></span>
				</a>
			</div>
		</div>
	</div>
</body>

</html>