<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
	<title th:text="#{store.list.title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/> -->
	<!-- <link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" /> -->
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/lista.css">
</head>

<body>

	<div th:replace="fragments/topbarLinks"></div>
	<h1 class="label" th:text="#{store.welcome}"></h1>

	<div class="list-container">
			<h2 th:text="#{store.list}"></h2>
			
			<!-- <div th:replace="fragments/alert"></div> -->
			
			<table class="table">
				<thead>
					<tr>
						<th th:text="#{store.id}"></th>
						<th th:text="#{store.name}"></th>
						<th th:text="#{store.email}"></th>
						<th th:text="#{store.cnpj}"></th>
						<th th:text="#{store.description}"></th>
						<th th:text="#{object.actions}"></th>
					</tr>
				</thead>
		
				<tbody>
					<div th:each="loja : ${listaLojas}">
						<tr>
							<td data-label="Id" th:text="${loja.id}"></td>
							<td data-label="Nome" th:text="${loja.nome}"></td>
							<td data-label="Email" th:text="${loja.username}"></td>
							<td data-label="CNPJ" th:text="${loja.CNPJ}"></td>
							<td data-label="Descrição" th:text="${loja.descricao}"></td>
							<td data-label="Ações" colspan="2">
								<a class="actions" th:href="@{/loja/editar/{id} (id=${loja.id})}" role="button">
									<span th:title="#{object.update}">&#x1F58C;</span>
								</a>
								
								<a class="actions" th:href="@{/loja/remover/{id} (id=${loja.id})}" role="button">
									<span th:title="#{object.update}">&#x1F5D1;</span>
								</a>
							</td>
						</tr>
					</div>
				</tbody>
			</table>
		<div class="adiciona">
			<a th:href="@{/loja/cadastrar}" th:text="#{store.add}"></a>
		</div>
	</div>
	
	<!-- <div th:replace="fragments/modal :: modal"></div> -->
</body>
	
	<!-- <script th:src="@{/webjars/jquery/jquery.min.js}"></script> -->
	<!-- <script src="/js/modal.js"></script> -->
</html>