<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="#{customer.list.title}"></title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/lista.css">
</head>

<body>

	<div th:replace="fragments/topbarLinks"></div>

	<h1 class="label" th:text="#{customer.welcome}"></h1>

	<div class="list-container">
		<h2 th:text="#{customer.list}"></h2>
		<!-- <div th:replace="fragments/alert"></div> -->
		<a class="adiciona" th:href="@{/cliente/cadastrar}" th:text="#{customer.add}"></a>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th th:text="#{customer.id}"></th>
					<th th:text="#{customer.name}"></th>
					<th th:text="#{customer.email}"></th>
					<th th:text="#{customer.ssn}"></th>
					<th th:text="#{customer.phone}"></th>
					<th th:text="#{customer.gender}"></th>
					<th th:text="#{customer.birth}"></th>
					<th th:text="#{object.actions}"></th>
				</tr>
			</thead>

			<tbody>
				<div th:each="cliente, iter : ${listaClientes}">
					<tr>
						<td data-label="Id" th:text="${cliente.id}"></td>
						<td data-label="Nome" th:text="${cliente.nome}"></td>
						<td data-label="Email" th:text="${cliente.username}"></td>
						<td data-label="CPF" th:text="${cliente.CPF}"></td>
						<td data-label="Telefone" th:text="${cliente.telefone}"></td>
						<td data-label="Sexo" th:text="${cliente.sexo}"></td>
						<td data-label="Nascimento" th:text="${cliente.nascimento}"></td>
						<td data-label="Ações" colspan="2">
							<a class="actions" th:href="@{/cliente/editar/{id} (id=${cliente.id})}" role="button">
								<span th:title="#{object.update}" aria-hidden="true">&#x1F58C;</span>
							</a>

							<a class="actions" th:href="@{/cliente/remover/{id} (id=${cliente.id})}" role="button">
								<span th:title="#{object.delete}">&#x1F5D1;</span>
							</a>

						</td>
					</tr>
				</div>
			</tbody>
		</table>

	</div>

	<!-- <div th:replace="fragments/modal :: modal"></div> -->
</body>

<!-- <script src="/js/modal.js"></script> -->

</html>