.layout-content {
    margin: auto;
    font-size: 1.5em;
}

#cadastro { /*utiliza��o de id*/
    width: fit-content;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 180px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 16px;
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.116);
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group {
    padding: 10px;
}

.form-group label {
    text-align: left;
}

.form-group input {
    width: 100%;
    font-size: 0.8em;
    padding: 4px;
}

#salvar { /*id*/
    width: 20vh;
    border-radius: 16px;
    font-weight: bold;
    font-size: 0.8em;
    margin: 20px;
    padding: 4px;
    background-color: transparent;
    border: 2px solid green;
    color: green;
    cursor: pointer;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#salvar:hover { /*pseudo-classe*/
    box-shadow: 0 0 40px 40px green inset;
    color: #e6e6e6;
}

.divSalvar { 
    display: flex; /*flexbox*/
    justify-content: center;
}

@media (max-width: 768px) {  /*media-queries*/
    .form-row {
        display: block;
    }
}