/*CARDS DOS CARROS*/
#carros {
	margin: auto;
	width: 70%; /*medidas-relativas*/
	margin-top: 100px;
}

.box {
	border: 20px solid rgba(255, 255, 255, 0);
	position: relative;
}

.box-link {
	text-decoration: none;
	color: #2b2b2b;
}

.card {
	width: 100%; /*medidas-relativa*/
	background-color:rgb(250, 250, 250);
	border-radius: 10px;
	box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.205);
    transition: all 0.1s ease-out;
	position: relative;
}

.card:hover {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.205);
	cursor: pointer;
}

.dadosCarro {
	padding: 20px;
	list-style: none;
	white-space: nowrap;
	overflow: hidden;
}

.oferta {
	font-size: 1.5em;
	font-weight: bold;
	color: red;
	text-align: end;
}

.modelo {
	font-size: 1.1em;
	font-weight: 900;
	text-align: end;
}

.container {
	overflow: hidden;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* recomendado uso de imagens 16:9*/
.container > img {
	padding: 0;
	height: 250px;
	width: 444px;
	position:relative;
	margin-left: 50%;
	left: -222px;
}