<div class="card">
    <div class="container">
        <!--<img th:src="@{${'/images/' + veiculo.id + '/1.jpg'}}" alt="Carro">-->
        <img th:src="@{http://localhost:8080/images/{id}/{file} (id=${veiculo.id},file='1.jpg')}" alt="Carro">
    </div>
    <ul class="dadosCarro">
        <li class="modelo" th:text="${veiculo.modelo}"></li>
        <li th:text="${veiculo.loja.nome}"></li>
        <li th:text="${veiculo.quilometragem + 'km'}"></li>
        <li class="oferta" th:text="${'R$' + veiculo.preco}"></li>
    </ul>
    <a id="deletar" th:href="@{/veiculo/remover/{id} (id=${veiculo.id})}" th:text="#{object.delete}"
        class="btn btn-primary btn-sm" sec:authorize="hasRole('ROLE_LOJA')"></a>
</div>