<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text=#{bids.title}></title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/comprar.css">
</head>
 
<body>
	<div th:replace="fragments/topbarLinks"></div>
	<section class="carro">
		<div class="grid">
			<img th:src="@{http://localhost:8080/images/{id}/{file} (id=${veiculo.id},file='1.jpg')}" alt="Carro"
				height="440px">

			<div>
				<ul>
					<li th:text="${veiculo.modelo} + ' '+  ${veiculo.ano} + ' - ' + ${veiculo.quilometragem} + 'km'">
					</li>
					<li th:text="${veiculo.loja.nome}"></li>
					<li th:text="#{vehicle.license} + ': ' + ${veiculo.placa} "></li>
					<li th:text="#{vehicle.chassis} + ': ' + ${veiculo.chassi} "></li>
					<li th:text="'R$' + ${veiculo.preco}"></li>
				</ul>

				<!-- Casos: -->
				<div th:with="aberta=${proposta_aberta},aceita=${proposta_aceita},vendido=${ja_vendido}">

					<!-- Caso em que carro esta disponivel e cliente pode fazer proposta -->
					<div th:if="${aceita == null && aberta == null && vendido == null}">
						<form id="form_proposta" th:action="@{/proposta/salvar}" method="post" th:object="${proposta}">
							<input type="hidden" th:field="*{cliente}" id="cliente">
							<input type="hidden" th:field="*{loja}" id="loja">
							<input type="hidden" th:field="*{veiculo}" id="veiculo">
							<input type="hidden" th:field="*{data}" id="data">
							<input type="hidden" th:field="*{estado}" id="estado">
							<div>
								<input type="number" name="valor" th:placeholder="#{bids.value}" th:field="*{valor}"
									th:classappend="${#fields.hasErrors('valor')} ? is-invalid">
								<div class="invalid-feedback">
									<span th:errors="*{valor}"></span>
								</div>
							</div>
							<div>
								<input type="number" name="parcelamento" th:placeholder="#{bids.number.installments}"
									th:field="*{parcelamento}"
									th:classappend="${#fields.hasErrors('parcelamento')} ? is-invalid">
								<div class="invalid-feedback">
									<span th:errors="*{parcelamento}"></span>
								</div>
							</div>
							<input type="submit" name="Proposta" th:value="#{bids.make}">
						</form>
					</div>

					<!-- Caso em que cliente ja fez uma proposta -->
					<div th:if="${aberta != null}">
						<p class="label" th:text=#{customer.open.bid}></p>
						<table class="propostas">
							<thead>
								<tr>
									<th th:text=#{bids.date}></th>
									<th th:text=#{bids.value}></th>
									<th th:text=#{customer.cancel.bid}></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text=${proposta_aberta.data}></td>
									<td
										th:text="'R$' + ${proposta_aberta.valor} + ' ' + ${proposta_aberta.parcelamento}">
									</td>
									<td id="botao_cancelar">
										<a id="remover" th:href="@{/proposta/cancelar/{id}(id=${proposta_aberta.id})}"
											th:text=#{bids.cancel} /></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- Caso em que proposta feita foi aceita -->
					<div th:if="${aceita != null}">
						<p class="label" th:text=#{bids.accepted}></p>
					</div>

					<!-- Caso em que carro ja foi vendido -->
					<div th:if="${vendido != null}">
						<p class="label" th:text=#{bids.sold}></p>
					</div>
				</div>

			</div>
		</div>
		<div class="descricao">
			<strong th:text="#{vehicle.about}" style="font-size: 1.5em;"></strong>
			<p th:text="${veiculo.descricao}"></p>
		</div>
	</section>
</body>
	<script src="/js/spa.js" defer></script>
</html>