.layout-content {
    margin: auto;
    font-size: 1.5em;
}

#cadastro { /*utiliza��o de id*/
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 16px;
    box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.116);
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group {
    padding: 10px;
}

.form-group label {
    text-align: left;
}

.form-group input {
    width: 100%;
    font-size: 0.8em;
    padding: 4px;
}

#salvar { /*id*/
    width: 20vh;
    border-radius: 16px;
    font-weight: bold;
    font-size: 0.8em;
    margin: 20px;
    padding: 4px;
    background-color: transparent;
    border: 2px solid green;
    color: green;
    cursor: pointer;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#salvar:hover { /*pseudo-classe*/
    box-shadow: 0 0 40px 40px green inset;
    color: #e6e6e6;
}

.divSalvar { 
    display: flex; /*flexbox*/
    justify-content: center;
}

@media (max-width: 768px) {  /*media-queries*/
    .form-row {
        display: block;
    }
}

.list-container {
    margin: auto;
    margin-top: 20px;
    padding: 0 100px 0 100px;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table thead tr {
    background-color: grey;
    color: white;
}

.table tbody tr {
    background-color: rgb(250, 250, 250);
}

.table thead tr, .table tbody tr {
    display: flex; /*flexbox*/
    padding: 20px;
    border: 1px solid grey;
}

.table thead tr th, .table tbody tr td {
    display: flex;/*flexbox*/
    justify-content: space-around;
    flex: 1;
    padding: 0%;
}

a span {
    font-size: 2em; 
}

@media screen and (max-width: 1200px) {
    .list-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        flex-direction: column;
        margin: 1em;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    
    .table tbody tr td {
        flex-direction: column;
        background-color: rgb(250, 250, 250);
        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.205);
        border: 1px solid rgb(214, 214, 214);
    }
    
    .table tbody tr td:first-child {
        border-top: 1px solid #ccc;
        border-radius: 10px 10px 0 0;
    }
    
    .table tbody tr td:last-child {
        border-top: 1px solid #ccc;
        border-radius: 0 0 10px 10px;
    }
    
    .table tbody tr td::before { /*pseudo-elemente*/
        display: flex;
        align-items: center;
        padding: .5em;
        content: attr(data-label);
   
    }
}